HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/test-script.txt
/CriarEntidadesConfiguracoes.txt
/ConstDiretoriosRelatorios.java
/inutilizacoes.txt
/itens_venda.txt
/RelatorioOperacionalService.java
/RelatorioResource.java
/report-base.json
/operacional-routing.module.ts
/relatorios-routing.module.ts
/report-base-outro.json
/cadastro-routing.module.ts
/script_recebimentos.txt
/ValidadorFinalizadoraFactory.java
